<br><br>
<div class="card card-body bg-light">
    <form action="" method="POST">
        <br>
        <h4>Entrada de productos</h4>
        <br>
        <div class="form-group">
            <p>Compra No:</p>
            <input type="number" class="form-control" name="id_compra" placeholder="&#35; Ingrese No de compra">
        </div>
        <div class="form-group">
            <p>Fecha</p>
            <input type="date" class="form-control" name="fecha_compra" placeholder="Fecha de compra" required>
        </div>
        <div class="form-group">
            <p>Precio</p>
            <input type="number" step="any" class="form-control" name="precio_compra"
                placeholder="&#128178; Precio de compra" required>
        </div>
        <div class="form-group">
            <p>Cantidad</p>
            <input type="number" class="form-control" name="cantidad" placeholder="&#128722; Cantidad de productos que ingresan" required>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <label for="" class="form-label">Producto</label>
                <select class="form-select form-select-lg" class="form-control">
                    <option selected>Seleccione un producto</option>
                    <option value="">Arroz</option>
                    <option value="">Queso</option>
                    <option value="">Fideos</option>
                </select>
            </div>
        </div>
        <!-- <div class="form-group">
            <select name="estados">
            </select>
        </div> -->
        <div class="form-group">
            <div class="mb-3">
                <label for="" class="form-label">Proveedor</label>
                <select class="form-select form-select-lg" class="form-control">
                    <option selected>Seleccione un proveedor</option>
                    <option value="">Santa Maria</option>
                    <option value="">Supermaxi</option>
                    <option value="">El Coral</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <label for="" class="form-label">Usuario</label>
                <select class="form-select form-select-lg" class="form-control">
                    <option selected>Seleccione un usuario</option>
                    <option value="">Darlin Allauca</option>
                    <option value="">Alexander Oritíz</option>
                    <option value="">Roberto Huilco</option>
                    <option value="">Bladimir Chicaiza</option>
                </select>
            </div>
        </div>
        <button class="btn btn-success btn-block">
            GUARDAR
        </button>
    </form>
</div>