<div class="login-box">
    <div class="login-header">Bienvenido</div>
    <div class="login-body">
      <form class="form-group" action="" method="post">
        <label>Nombre de usuario</label>
        <input type="text" class="form-control" name="primer_nombre" placeholder="Ingrese su nombre de usuario"
          id="primer_nombre" required>
        <label>Contraseña</label>
        <input type="password" class="form-control" name="contrasena" placeholder="Ingrese su contraseña" id="password"
          required>
        <input type="checkbox" value="checked"><b>Recordar</b>
        <input type="submit" value="Iniciar Sesión" class="form-control btn btn-success  " name="">
      </form>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
    </div>
  </div>