<div class="card card-body card border-light bg-light">
    <form action="" method="POST">
            <h4>Registro de productos</h4>
        <div class="form-group">
            <p>Ingrese el codigo del producto</p>
            <input type="text" class="form-control" name="id_producto" placeholder="&#35; Id Producto"
                required>
        </div>
        <div class="form-group">
            <p>Ingrese el nombre del producto</p>
            <input type="text" class="form-control" name="nombre" placeholder="&#128722; Nombre" required>
        </div>
        <div class="form-group">
            <p>Ingrese el precio de venta del producto</p>
            <input type="text" class="form-control" name="precioventa"
                placeholder="&#65284; Precio de venta" required>
        </div>
        <div class="form-group">
            <p>Seleccionar la Categoria</p>
        </div>
        <div class="form-group">
            <select name="estados">
            </select>
        </div>
        <button class="btn btn-success  btn-block">
            GUARDAR
        </button>
    </form>
</div>