<div class="login-box card" id="card">
    <div class="card-body">
        <form class="form-horizontal form-material" id="loginform" action="index.html">
            <a href="javascript:void(0)" class="text-center db"><img src="./assets/images/inventory-1.png" alt="Home"
                    class="imagen" /><br /></a>
            <h3 class="">PRODUCTOS</h3><small>Ingrese y cree un nuevo producto</small>
            <div class="form-group m-t-20">
                <div class="col-xs-12">
                    <input class="form-control bg-light" type="text" required="" placeholder="ID # de producto">
                </div>
            </div>
            <div class="form-group m-t-20">
                <label for="" class="form-label">Categoria</label>
                <select class="form-select form-select-lg bg-light" class="form-control">
                    <option selected>Seleccione una categoria</option>
                    <option value="">Lácteos</option>
                    <option value="">Gaseosas</option>
                    <option value="">Carnes</option>
                </select>
            </div>
            <div class="form-group m-t-20">
                <div class="col-xs-12">
                    <input class="form-control bg-light" type="text" required="" placeholder="{Employee Name}">
                </div>
            </div>
            <div class="form-group m-t-20">
                <div class="col-xs-12">
                    <input class="form-control bg-light" type="text" required="" placeholder="{invoice number}">
                </div>
            </div>
            <div class="form-group m-t-20">
                <div class="col-xs-12">
                    <input class="form-control bg-light" type="text" required="" placeholder="Nombre/descripción del Producto">
                </div>
            </div>
            <div class="form-group m-t-20">
                <div class="col-xs-12">
                    <input class="form-control bg-light" type="text" required="" placeholder="Cantidad">
                </div>
            </div>
            <div class="form-group m-t-20">
                <div class="col-xs-12">
                    <input class="form-control bg-light" type="text" required="" placeholder="Precio de compra">
                </div>
            </div>
            <div class="form-group m-t-20">
                <div class="col-xs-12">
                    <input class="form-control bg-light" type="text" required="" placeholder="Precio de venta">
                </div>
            </div>
            <div class="form-group m-t-20">
                <label for="" class="form-label">Estado</label>
                <select class="form-select form-select-lg bg-light" class="form-control">
                    <option selected>Estado del producto</option>
                    <option value="">Disponible</option>
                    <option value="">Por terminarse</option>
                    <option value="">Vacio</option>
                </select>
            </div>
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-success btn-lg btn-block bg-success" type="submit">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>