<br><br><br>
    <div class="card card-body bg-light">
        <form action="" method="POST">
            <h4>Registrar nuevo producto</h4>
            <br>
            <div class="form-group">
                <label>ID Producto</label>
                <input type="text" class="form-control" name="id_producto" placeholder="&#35; Ingrese el codigo del producto" required>
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="&#128722; Ingrese el nombre del producto" required>
            </div>
            <div class="form-group">
                <label>Precio de Venta</label>
                <input type="text" class="form-control" name="precioventa" placeholder="&#65284; Ingrese el precio de venta del producto"
                    required>
            </div>
            <div class="form-group">
                <div class="mb-3">
                    <label for="" class="form-label">Categoria</label>
                    <select class="form-select form-select-lg" class="form-control">
                        <option selected>Seleccione una categoria</option>
                        <option value="">Lácteos</option>
                        <option value="">Gaseosas</option>
                        <option value="">Carnes</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-success  btn-block">
                GUARDAR
            </button>
        </form>
    </div>