h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 23px;
    color: #EB6440;
    padding-top: 30px;
}


.card {
    margin: 0 auto;
    width: 400px;
    height: 600px;
    border: solid rgb(211, 211, 211);

}

