<br><br>
<div class="card card-body bg-light" id="card">
    <form action="" method="">
        <br>
        <h4>Registrar nuevo Proveedor</h4>
        <br>
        <div class="form-group">
            <input type="text" class="form-control" ondblclick="validarDocumento()" name="id_proveedor"
                id="id_proveedor" placeholder="&#35; RUC">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="nombre" placeholder="&#128220; Nombre">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="direccion" placeholder="&#127969; Direccion">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="correo" placeholder="&#128231; Correo">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" onkeypress="ValidaSoloNumeros()" name="telefono"
                placeholder="&#128222; Telefono">
        </div>
        <button class="btn btn-success btn-block">
            GUARDAR
        </button>
    </form>
</div>