<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <br>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img
                            src="./assets/images/users/perfil-3.png" class="imagen" alt="user" /><span
                            class="hide-menu"></span></a>
                </li>
                <li class="nav-small-cap">PANEL DE OPCIONES</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="" aria-expanded="false"><i
                            class="mdi mdi-file-document"></i><span class="hide-menu">Categoria
                            <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/dashboard/category">Nueva Categoria </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-shopping"></i><span class="hide-menu">Compra </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/dashboard/purchase">Nueva Compra </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-account-box"></i><span class="hide-menu">Empleado </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/dashboard/employee">Registrar Empleado </a></li>
                        <li><a href=""  >Lista de Usuarios </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-clipboard-text"></i><span class="hide-menu">Productos
                            <span></span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/dashboard/product">Registrar nuevo Producto</a></li>
                        <li><a href="/dashboard/showProduct">Lista de Productos </a></li>
                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-wallet"></i><span class="hide-menu">Proveedor <span></span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/dashboard/supplier">Registrar Proveedor </a></li>
                    </ul>
                </li>

                <!-- ============================================================== -->
                <!-- End Left Sidebar - style you can find in sidebar.scss  -->
                <!-- ============================================================== -->