<br><br>
<div class="card card-body bg-light">
    <form action="" method="POST">
        <br>
        <h4>Registro Categoria</h4>
        <br>
        <div class="form-group">
            <p>ID Categoria</p>
            <input type="text" class="form-control" name="id" placeholder="&#35; Ingrese el codigo de la categoria"
                required>
        </div>
        <div class="form-group">
            <p>Nombre</p>
            <input type="text" class="form-control" name="nombre"
                placeholder="&#128722; Ingrese el nombre de la categoria" required>
        </div>
        <button class="btn btn-success btn-block">
            GUARDAR
        </button>
    </form>
</div>