<form action="" method="POST">
        <h4>Registro Categoria</h4>
    <div class="form-group">
        <p>Ingrese el codigo de la categoria</p>
        <input type="text" class="form-control" name="id" placeholder="&#35; ID" required>
    </div>
    <div class="form-group">
        <p>Ingrese el nombre de la categoria</p>
        <input type="text" class="form-control" name="nombre" placeholder="&#128722; Nombre" required>
    </div>
    <button class="btn btn-success btn-block">
        GUARDAR
    </button>
</form>