<div class="login-box card" id="card">
    <div class="card-body">
        <form class="form-horizontal form-material" id="loginform" action="index.html">
            <a href="javascript:void(0)" class="text-center db"><img src="./assets/images/category-1.png" alt="Home"
                    class="imagen" /><br /></a>
            <h3 class="">CATEGORIA</h3><small>Ingrese y cree una nueva categoria</small>
            <div class="form-group m-t-20">
                <div class="col-xs-12">
                    <input class="form-control bg-light" type="text" required="" placeholder="ID categoria">
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    <input class="form-control bg-light" type="text" required="" placeholder="Descripción">
                </div>
            </div>
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-success btn-lg btn-block bg-success" type="submit">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>